#wrap {
  max-width: 960px;
  margin: 0 auto 0px;
  padding: 10px 0 20px 0;
}

:any-link {
  color: #3030bf;
  text-decoration: none;
}

:any-link:hover {
  text-decoration: underline;
}

.site-header {
  display: flex;
  flex-direction: row-reverse;
  align-content: flex-start;
  border-bottom: 1px solid #3030bf;
  margin-bottom: 30px;
  align-items: last baseline;
}

.site-header h1 {
  text-align: right;
  flex: 1 1 100%;
  margin: 0 15px -4px 0;
  font-style: italic;
  font-size: 50px;
  transform: translate(0, 4px);
}

.site-header h1 a {
  color: #0000a6;
}

.site-header nav {
  flex: 1 1 100%;
}

.site-header nav h2 {
  margin: 0;
}

#content {
  padding: 10px;
}

.post {
  margin-bottom: 64px;
}

.post header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
}

.post header h1 {
  margin-bottom: 0;
}

.post .subheader {
  font-size: 0.8em;
  opacity: 0.8;
}

.post .subheader > :not(:last-child)::after {
  content: " ";
  border-left: 1px solid #322;
  display: inline-block;
  height: 1.5em;
  margin: 0 0.6em;
  position: relative;
  top: 0.3em;
}

.post p:last-child {
  margin-bottom: 0.6em;
}

.read-more {
  font-style: italic;
}

.tags {
  display: inline;
  margin: 0;
  padding: 0;
}

.tags .tag {
  display: inline;
}

.tags .tag:not(:last-of-type)::after {
  content: ", ";
}

.post aside {
  float: right;
  width: 30%;
  margin: 10px 10px 10px 5px;
  padding: 5px 0 5px 10px;
  text-align: left;
}

.post pre,
.codepath {
  border-left: 3px solid #ddd;
  background-color: #f0f0f0;
  color: #555;
  padding: 5px 10px;
  line-height: 1.2em;
  font-family: monospace;
}

.post pre {
  line-height: 0.5em;
}

.post p .codepath {
  display: block;
  margin-bottom: -1.82rem;
  font-weight: bold;
  padding: 10px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.post p .codepath::before {
  content: "$ cat ";
}

.post pre code {
  line-height: 1.5rem;
}

#wrap > footer {
  margin-top: 50px;
  border-top: 1px solid #3030bf;
  padding: 10px;
  color: #999;
}

#wrap > footer p {
  margin: 0 10px 0 0;
  display: inline;
}
